.big-table-height-fix {
  max-height: 56vh;
}

.sticky-cell {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 4 !important;
  background: white;
}

.highlight-cell--gray {
  background: #eee !important;
}

.highlight-cell--blue {
  background: #84c2ff !important;
  font-weight: 500 !important;
}

.highest-z-index {
  z-index: 5 !important;
}
